*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    height: 100vh;
}

aside{
    background-color: grey;
    width: 30%;
}

section{
    background-color: green;
    width: 70%;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

div#time, div#money, div#reset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#time{
    text-align: center;
    width: 80%;
    height: 30px;
    background-color: orange;
    
}

#money{
    text-align: center;
    width: 80%;
    height: 30px;
    background-color: orange;
}

#reset{
    text-align: center;
    width: 80%;
    height: 30px;
    background-color: orange;
}

section{
    /* this is for flex box */
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly;
}

#topLevel, #lowerLevel{
    width: 100%;
    display:flex; 
    justify-content: space-evenly;
}
.casing{
    height: 150px;
    width: 250px;
    background-color: blue;
}
