*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    height: 100vh;
}

aside{
    background-color: grey;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

home{
    background: url(../images/67300157-cartoon-lemonade-stand-with-fresh-lemons-and-a-pitcher.jpg) no-repeat;
    background-position: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

section.landing{
    height: 50%;
    width: 50%;
    margin-bottom: 8%;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0 0 10px #000000;
}
#top, #middle, #bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homeSell{
    width: 17%;
    height: 30px;
    border-radius: 20px;
    background-color: green;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.homeUpgrade{
    width: 17%;
    height: 30px;
    border-radius: 20px;
    background-color: pink;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#start{
    height: 20px;
    width: 50px;
    background-color: green;
    text-align: center;
    border-radius: 10px;
}

#start:hover{
    height: 20px;
    width: 50px;
    background-color: white;
    color: green;
    border-radius: 10px;
    border: 1px solid black;
}

section.game{
    background: url(../images/67300157-cartoon-lemonade-stand-with-fresh-lemons-and-a-pitcher.jpg) no-repeat;
    background-position: center;
    width: 70%;
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly;
}

header{
    height: 25%;
    text-align: center;
}

header h1{
    font-size: 2.5em;
}

div#time, div#money, div#highscore, div#reset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#time, #money, #highscore, #reset{
    width: 60%;
    height: 30px;
    background-color: orange;
}



#topLevel, #lowerLevel{
    width: 100%;
    height: 30%;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

.icon{
    width: 10%;
    height: 35%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.buttonCasing{
    height: 150px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statusBar{
    height: 25%;
    width: 75%;
    background-color: gainsboro;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.statusBar > div{
    display: block;
    width: 0%;
    height: 100%;
    border-radius: 20px;
    background-color: green;
}

.moneyBar{
    height: 32%;
    width: 75%;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

.sell, .upgrade{
    width: 43%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.sell{
    background-color: green;
}

.upgrade{
    background-color: pink;
}

#pitcher{
    background-image: url(../images/lemonade-clipart-25.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#ice{
    background-image: url(../images/ice.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#straw{
    background-image: url(../images/straws.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#umbrella{
    background-image: url(../images/cocktail_umbrella.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}