*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    height: 100vh;
}

aside{
    background-color: grey;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

section{
    background: url(../images/67300157-cartoon-lemonade-stand-with-fresh-lemons-and-a-pitcher.jpg) no-repeat;
    background-position: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly;
}

header{
    height: 20%;
    text-align: center;
}

header h1{
    font-size: 2.5em;
}

div#time, div#money, div#reset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#time, #money, #reset{
    width: 60%;
    height: 30px;
    background-color: orange;
}

#topLevel, #lowerLevel{
    width: 100%;
    height: 30%;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

.icon{
    width: 8%;
    height: 30%;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.buttonCasing{
    height: 150px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statusBar{
    height: 25%;
    width: 75%;
    background-color: gainsboro;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* this is to add color to status bar*/
.statusBar > span{
    display: block;
    width: 50px;
    height: 100%;
    border-radius: 20px;
    background-color: green;
}

.moneyBar{
    height: 25%;
    width: 75%;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
}

.sell{
    width: 40%;
    background-color: blueviolet;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.upgrade{
    width: 40%;
    background-color: pink;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}